<section id="footerBody" class="col-md-12">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10 border border-primary">
                                        <div class="row">
                                            <div class="col-md-12 border border-secondary">
                                                Aqui va una foto de un posible articulo
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                Breve descripcion del articulo
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10 border border-primary">
                                        <div class="row">
                                            <div class="col-md-12 border border-secondary">
                                                Aqui va una foto de un posible articulo
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                Breve descripcion del articulo
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10 border border-primary">
                                        <div class="row">
                                            <div class="col-md-12 border border-secondary">
                                                Aqui va una foto de un posible articulo
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                Breve descripcion del articulo
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
</section>