<section id="ImageHeader">
    <div class="container">
        <div class="row bkimg border border-primary">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        Este div tendra una imagen de fondo
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4 border border-secondary tet-right">
                        Excepteur culpa culpa eu fugiat adipisicing exercitation veniam consequat labore amet nulla nisi adipisicing.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>