<section id="secondaryText">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1>Titulo Intelecto</h1>
                <br/>
                <p class="text-justify">Commodo reprehenderit enim nulla mollit minim mollit ea sit adipisicing do nisi anim tempor culpa. Anim mollit esse tempor laboris aute labore id amet anim dolor exercitation voluptate. Sit qui sunt tempor anim enim ea.</p>
                <p class="text-justify">Id aliquip quis nulla sunt nostrud et ut pariatur nisi veniam consectetur eiusmod. Laboris ipsum ipsum officia velit. Exercitation duis ex ea nulla laboris eiusmod cupidatat laboris ipsum voluptate aliqua ut.</p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>