<div class="container">
    <div class="row">
        <%= render 'mainSec' %>
    </div>
    <div class="row">
        <%= render 'textSec' %>
    </div>
    <div class="row">
        <%= render 'ftSec' %>
    </div>
</div>
