<div class="container">
    <div class="row">
        <div class="col-md-6">
        Esto es una Prueba1
        </div>
        <div class="col-md-6">
        Esto es una Prueba2
        </div>
    </div>


</div>
